* {
    margin: 0px; 
    text-decoration: none;
}

.header {
    background-color: #1e1e2c;

    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.simplytools {
    font-size: 4vh;
    color: white;
}

.descricao {
    font-size: 2vh;
    color: white;
}